.post {
  background-color: #eee;
  margin: 2rem;
  padding: 1rem;
}
.pagination {
  margin: 5rem auto;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.pagination .pagination-active {
  /* padding: 8 12px; */
  padding: 10px;
  outline: none;
  background-color: cornflowerblue;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  color: '#0072BC';
}

.pagination .next,
.pagination .previous {
  color: #0072bc;
  font-weight: 500;
  cursor: pointer;
  padding:5
}

.pagination .page {
  margin-right: 5px;
  margin-left: 5px
}
.rbc-day-bg + .rbc-day-bg, .rbc-month-row + .rbc-month-row , .rbc-month-view, .rbc-header {
border: 0px !important 
}
.rbc-header
{
  overflow:hidden !important;
  text-transform: uppercase !important;
  
}

.rbc-month-view{
  box-shadow: 0px 0px 1px 1px lightgrey;
}
.rbc-button-link{
  font-weight: bold;
  margin: 20px !important;
  /* font-size: 16px !important; */
}
.rbc-date-cell{
  text-align: center !important;
  margin-right: 1px !important;
  margin-left: 1px !important;
  border: '2px solid #F3F3F3' !important;
}